#sitetitle {
    font-family: Helvetica;
}
#no1{
    font-family: Helvetica;
    font-weight: bold;
}
#no2{
	font-family: Helvetica;
}
#no3{
	font-family: Helvetica;
}
#no4{
	font-family: Helvetica;
}
.h2 {
	font-family: Helvetica;
}
.divsecr {
    width: 45%;
    font-family: Helvetica;
    float: right;
}
.divsecl {
    width: 45%;
	font-family: Helvetica;
	float: left;
}
.devboxnf {
    color: #FF0004;
}
.devboxip {
    color: #299A00;
}
.devboxnfi {
    color: #38A000;
}
.navbar {
    background-color: #0090A2;
    width: 100%;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 13px;
    margin-left: 13px;
}
